
<h2 class="content-block-title">Produtos</h2>

<dx-data-grid
  #dxDataGrid
  class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  noDataText="Nenhum dado encontrado."
  (onRowInserting)="storeProduto($event.data)"
  (onRowUpdated)="updateProduto($event.data)"
  (onRowRemoving)="deleteProduto($event.data)"
  width="100%"
  >
  <dxo-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
    <dxo-texts
      [confirmDeleteTitle]="'Atenção'"
      confirmDeleteMessage="Tem certeza que deseja remover este registro ?"
    >
    </dxo-texts>
  </dxo-editing>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="id" [width]="90" [hidingPriority]="2" caption="ID" [allowEditing]="false">
  </dxi-column>
  <dxi-column
    dataField="nome"
    [width]="190"
    caption="Subject"
    [hidingPriority]="4"
    caption="Nome"
  >
  </dxi-column>
  <dxi-column
    dataField="preco_unitario"
    [width]="190"
    caption="Subject"
    [hidingPriority]="4"
    dataType="range"
    [format]="{
      type: 'decimal',
      precision: 2
    }"
    caption="Preço unitário"
  >
  </dxi-column>
  <dxi-column
    dataField="multiplo"
    [width]="80"
    caption="Subject"
    [hidingPriority]="4"
    caption="Múltiplo"
  >
  </dxi-column>
</dx-data-grid>
