<h2 class="content-block-title">Pedidos</h2>

<app-load-panel-indicator [visible]="loadingIndicator">
</app-load-panel-indicator>

<dx-data-grid
  #dxDataGrid
  keyExpr="id"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  noDataText="Nenhum pedido encontrado."
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  (onRowClick)="selectedChanged($event)"
  width="100%"
  height="75vh"
>
  <dxo-load-panel [enabled]="false"> </dxo-load-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="id" [width]="200" caption="Pedido (ID)"> </dxi-column>
  <dxi-column dataField="cliente_id" [width]="200" caption="Cliente (ID)">
  </dxi-column>
  <dxi-column dataField="Cliente.nome" [width]="200" caption="Cliente (nome)">
  </dxi-column>
  <dxi-column dataField="valor_total" [width]="250" caption="Valor total">
  </dxi-column>
</dx-data-grid>

<dx-speed-dial-action
  icon="add"
  label="Adicionar pedido"
  (onClick)="insPedidoAction()"
></dx-speed-dial-action>
<dx-speed-dial-action
  icon="trash"
  label="Remover pedido"
  [index]="2"
  [visible]="selectedRow"
  (onClick)="deletePedidoAction()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="edit"
  label="Alterar pedido"
  [index]="3"
  [visible]="selectedRow"
  (onClick)="updatePedidoAction()"
>
</dx-speed-dial-action>

<dx-popup
  width="80%"
  height="70%"
  [visible]="true"
  [title]="titlePopup"
  [(visible)]="popupVisible"
  (onHidden)="selectedRow = false"
>
  <dx-scroll-view [scrollByContent]="true" [scrollByThumb]="true">
    <form action="your-action" (submit)="onFormSubmit($event)">
      <dx-form
        id="form"
        [(formData)]="formDataPedido"
        [readOnly]="false"
        [showColonAfterLabel]="true"
        validationGroup="customerData"
      >
        <dxi-item itemType="group" caption="" colCount="2">
          <dxi-item
            colSpan="2"
            editorType="dxSelectBox"
            dataField="cliente_id"
            [editorOptions]="{
              dataSource: clientes,
              displayExpr: 'nome',
              valueExpr: 'id'
            }"
            [label]="{
              text: 'Nome do cliente'
            }"
          >
            <dxi-validation-rule
              type="required"
              message="Cliente é obrigatório"
            >
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>

        <dxi-item>
          <div *dxTemplate>
            <dx-data-grid
              #dxDataGridItens
              [allowColumnResizing]="true"
              [allowColumnReordering]="true"
              class="dx-card wide-card"
              [dataSource]="dataSourceItens"
              [showBorders]="false"
              [columnAutoWidth]="true"
              [columnHidingEnabled]="true"
              noDataText="Nenhum dado encontrado."
              [columnAutoWidth]="true"
              width="100%"
            >
              <dxo-editing
                mode="row"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true"
                (changesChange)="selectedProduto($event)"
              >
                <dxo-texts
                  [confirmDeleteTitle]="'Atenção'"
                  confirmDeleteMessage="Tem certeza que deseja remover este registro ?"
                >
                </dxo-texts>
              </dxo-editing>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager
                [showPageSizeSelector]="true"
                [showInfo]="true"
              ></dxo-pager>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxi-column dataField="id" caption="ID" [allowEditing]="false">
              </dxi-column>
              <dxi-column
                dataField="produto_id"
                caption="Subject"
                caption="Produto"
              >
                <dxi-validation-rule
                  type="required"
                  message="Prduto é obrigatório"
                ></dxi-validation-rule>
                <dxo-lookup
                  [dataSource]="produtos"
                  displayExpr="nome"
                  valueExpr="id"
                >
                </dxo-lookup>
              </dxi-column>
              <dxi-column
                dataField="multiplo"
                caption="Subject"
                caption="Multiplo"
                [allowEditing]="false"
              >
              </dxi-column>

              <dxi-column
                dataField="quantidade"
                caption="Subject"
                caption="Quantidade"
                dataType="number"
              >
                <dxi-validation-rule
                  type="required"
                  message="Quantidade é obrigatório"
                ></dxi-validation-rule>
                <dxi-validation-rule
                  type="async"
                  message="A quantidade precisa ser multipla do produto desejado."
                  [validationCallback]="isMultiple"
                >
                </dxi-validation-rule>
              </dxi-column>
              <dxi-column
                dataField="preco_unitario"
                caption="Subject"
                dataType="number"
                caption="Preço unitário"
                [format]="{
                  type: 'decimal',
                  precision: 2
                }"
                [editorOptions]="editorOptionsPreco"
              >
                <dxi-validation-rule
                  type="required"
                  message="Preço unitário é obrigatório"
                ></dxi-validation-rule>
                <dxi-validation-rule
                  type="async"
                  message="A rentabilidade do produto é muito baixa."
                  [validationCallback]="rentabilidadeRule"
                  style="margin: 50px"
                >
                </dxi-validation-rule>
              </dxi-column>
            </dx-data-grid>
          </div>
        </dxi-item>
        <dxi-item
          itemType="button"
          horizontalAlignment="left"
          [buttonOptions]="buttonOptions"
        >
        </dxi-item>
      </dx-form>
    </form>
  </dx-scroll-view>
</dx-popup>
